*{
    box-sizing: border-box;
}
:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --color1:hsl(236, 27%, 55%);
    --color2:hsl(237, 63%, 64%);
    --Very_Light_Grayish_Blue: hsl(240, 78%, 98%);
    --Light_Grayish_Blue: hsl(234, 14%, 74%);
    --Grayish_Blue: hsl(233, 13%, 49%);
    --Dark_Grayish_Blue: hsl(232, 13%, 33%);
    --base-font-size:15px;
  }

  html{
      font-size:var(--base-font-size);
      font-family: 'Montserrat';
  }
  .container{
    /* background-image: url("../images/bg-bottom.svg"),url("../images/bg-top.svg"); */
      height:100vh;
      width:100%;
      display:flex;
      justify-content: center;
      align-items: center;
  }
  .price_container{
      display:flex;
      flex-direction:column;
      align-items:center;
      width:84%;
      height:100%;
     
     /*   background-color: red; */
     background-size: cover;
      /* background-image: url("../images/bg-top.svg"); */
      /* margin:0 auto; */
      background:url("../images/bg-bottom.svg"), url("../images/bg-top.svg");
      /* background-image: url('w3css.gif'); */
      background-repeat: no-repeat,no-repeat;
      background-attachment: fixed,fixed;
      background-position: bottom left,bottom right;
      background-color:hsl(237, 45%, 92%);
  }

  .all_price_container{
      display:flex;
      /* background-color: yellow; */
      border-radius: 10px;
      background-color: white;
      width:75%;
      height:55%;
      justify-content: space-evenly;
      align-items: center;
     
  }
  .btn{
      
      border-radius: 5px;
      border: none;
      color:white;
      /* padding:0.5rem 2rem; */
      padding: 10px 45px;
      font-family: 'Montserrat';
      text-align: center;
      background-image: linear-gradient(to right,var(--color1),var(--color2));
  }

  .card{
    background-color: white;
    border-radius: 5px;
    height:100%;
    width:33%
  }
  .main_title{
    margin-top:10px;
    color:grey;
    padding:2rem 2rem;
    font-size: 1.5em;
  }
  .choose_period{
    padding:1rem 1rem;
    font-size: 0.75rem;
    margin-bottom: 10px;
    color:gray;
  }

  .basic{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; 
  }
  .professional{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to bottom right,var(--color1),var(--color2));
    
  }
  .master{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .price{
    font-size: 3rem;
    color:var(--Dark_Grayish_Blue);
  }
  .title{
    color:var(--Grayish_Blue);  
  }

  .details{
    color:var(--Grayish_Blue);
    font-size: 0.75rem;;
  }
  hr{
      width:90%;
      color:lightgray;
  }
  .btn2 {
    border-radius: 5px;
      border: none;
      padding: 10px 45px;
      font-family: 'Montserrat';
      text-align: center;
    background-color:white;
    color:hsl(237, 63%, 64%);
  }
  .professional{
    color:white;
  }
  .title2 {
    color:white; 
  }
  .details2{
    color:white;
    font-size: 0.75rem;

  }
  .price2 {
    font-size: 3rem;
    color:white;
  }

 